// Place all the styles related to the managements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-header-bg {
  background-color: black;
  .result-header-text {
    color: white;
  }
}

.tab-group{
  display: flex;
  justify-content: center;
}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
}
.panel-group{
  height:100px;
  border:solid 1px #CCC;
  border-top:none;
  background:#eee;
}
.panel{
  display:none;
}
.tab.is-active{
  background:black;
  color:#FFF;
  transition: all 0.2s ease-out;
}
.panel.is-show{
  display:block;
}



body h3 {
  background-color: black;
  color: white;
  margin-left: 20px;
  padding: 20px;
}

@media screen and (min-width: 640px) {
  
}

@media screen and (min-width: 960px) {
  
}

@media screen and (min-width: 1200px) {

}

