// Place all the styles related to the managements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.result-header-bg {
  background-color: black;
  .result-header-text {
    color: white;
  }
}



body h3 {
  background-color: black;
  color: white;
  margin-left: 20px;
  padding: 20px;
}

@media screen and (min-width: 640px) {
  
}

@media screen and (min-width: 960px) {
  
}

@media screen and (min-width: 1200px) {

}

