<h3>得点ランキング</h3>
<table class="uk-table uk-table-small uk-table-divider">
  <thead>
    <tr>
      <th>得点ランキング</th>
      <th>得点者</th>
      <th>得点数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>メッシ</td>
      <td>10</td>
    </tr>
    <tr>
      <td>2</td>
      <td>ロナウド</td>
      <td>9</td>
    </tr>
    <tr>
      <td>3</td>
      <td>ネイマール</td>
      <td>8</td>
    </tr>
    <tr>
      <td>4</td>
      <td>本田</td>
      <td>5</td>
    </tr>
    <tr>
      <td>5</td>
      <td>香川</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
