<div class="uk-container-small">
  <div class="result-header-bg">
    <h3 class="uk-text-center result-header-text">試合結果</h3>
  </div>

  <h4 class="uk-heading-divider">グループA</h4>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム名</th>
        <th>勝点</th>
        <th>勝</th>
        <th>引</th>
        <th>敗</th>
        <th>得点</th>
        <th>失点</th>
        <th>得失点</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>１</td>
        <td>ウルグアイ</td>
        <td>４</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>２</td>
        <td>ロシア</td>
        <td>３</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>３</td>
        <td>サウジアラビア</td>
        <td>１</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>４</td>
        <td>エジプト</td>
        <td>3</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      
    </tbody>
  </table>
  <h4 class="uk-heading-divider">グループA</h4>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム名</th>
        <th>勝点</th>
        <th>勝</th>
        <th>引</th>
        <th>敗</th>
        <th>得点</th>
        <th>失点</th>
        <th>得失点</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>１</td>
        <td>ウルグアイ</td>
        <td>４</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>２</td>
        <td>ロシア</td>
        <td>３</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>３</td>
        <td>サウジアラビア</td>
        <td>１</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>４</td>
        <td>エジプト</td>
        <td>3</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      
    </tbody>
  </table>
  <h4 class="uk-heading-divider">グループA</h4>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム名</th>
        <th>勝点</th>
        <th>勝</th>
        <th>引</th>
        <th>敗</th>
        <th>得点</th>
        <th>失点</th>
        <th>得失点</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>１</td>
        <td>ウルグアイ</td>
        <td>４</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>２</td>
        <td>ロシア</td>
        <td>３</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>３</td>
        <td>サウジアラビア</td>
        <td>１</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>４</td>
        <td>エジプト</td>
        <td>3</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      
    </tbody>
  </table>
  <h4 class="uk-heading-divider">グループA</h4>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム名</th>
        <th>勝点</th>
        <th>勝</th>
        <th>引</th>
        <th>敗</th>
        <th>得点</th>
        <th>失点</th>
        <th>得失点</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>１</td>
        <td>ウルグアイ</td>
        <td>４</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>２</td>
        <td>ロシア</td>
        <td>３</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>３</td>
        <td>サウジアラビア</td>
        <td>１</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>４</td>
        <td>エジプト</td>
        <td>3</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      
    </tbody>
  </table>
  <h4 class="uk-heading-divider">グループA</h4>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム名</th>
        <th>勝点</th>
        <th>勝</th>
        <th>引</th>
        <th>敗</th>
        <th>得点</th>
        <th>失点</th>
        <th>得失点</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>１</td>
        <td>ウルグアイ</td>
        <td>４</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>２</td>
        <td>ロシア</td>
        <td>３</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>３</td>
        <td>サウジアラビア</td>
        <td>１</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>４</td>
        <td>エジプト</td>
        <td>3</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      
    </tbody>
  </table>
  <h4 class="uk-heading-divider">グループA</h4>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム名</th>
        <th>勝点</th>
        <th>勝</th>
        <th>引</th>
        <th>敗</th>
        <th>得点</th>
        <th>失点</th>
        <th>得失点</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>１</td>
        <td>ウルグアイ</td>
        <td>４</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>２</td>
        <td>ロシア</td>
        <td>３</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>３</td>
        <td>サウジアラビア</td>
        <td>１</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>４</td>
        <td>エジプト</td>
        <td>3</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      
    </tbody>
  </table>
  <h4 class="uk-heading-divider">グループA</h4>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>順位</th>
        <th>チーム名</th>
        <th>勝点</th>
        <th>勝</th>
        <th>引</th>
        <th>敗</th>
        <th>得点</th>
        <th>失点</th>
        <th>得失点</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>１</td>
        <td>ウルグアイ</td>
        <td>４</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>２</td>
        <td>ロシア</td>
        <td>３</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>３</td>
        <td>サウジアラビア</td>
        <td>１</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      <tr>
        <td>４</td>
        <td>エジプト</td>
        <td>3</td>
        <td>９</td>
        <td>３</td>
        <td>４</td>
        <td>３</td>
        <td>３</td>
        <td>４</td>
      </tr>
      
    </tbody>
  </table>
</div>