<div class="uk-container-small">
<div id="app">
  <bracket :rounds="rounds">
    <template #player="{ player }">
      <span>{{ player.name }}</span>
    </template>
  </bracket>
</div>
  <div class="result-header-bg">
    <h3 class="uk-text-center result-header-text">試合結果</h3>
  </div>
  <% @groups.each do |group| %>
    <h4 class="uk-heading-divider">グループ<%= group.group_number %></h4>
    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          <th>順位</th>
          <th>チーム名</th>
          <th>勝点</th>
          <th>勝</th>
          <th>引</th>
          <th>敗</th>
          <th>得点</th>
          <th>失点</th>
          <th>得失点</th>
        </tr>
      </thead>
      <tbody>
        <% @teams_based_on_group = @teams.where(group_id: group.id) %>
        <% @teams_based_on_group.each do |team| %>
          <tr>
            <td>１</td>
            <td><%= team.name %></td>
            <td>４</td>
            <td>９</td>
            <td>３</td>
            <td>４</td>
            <td>３</td>
            <td>３</td>
            <td>４</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
