<h3>タイムスケジュール</h3>
<table class="uk-table uk-table-small uk-table-divider">
  <thead>
    <tr>
      10:00- 受付開始<br>
      11:00- 開会式
      <th></th>
      <th>試合開始時間</th>
      <th>Aコート</th>
      <th>審判(A)</th>
      <th>Bコート</th>
      <th>審判(B)</th>
      <th>Cコート</th>
      <th>審判(C)</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>11:25-</td>
        <td>(1)FC.Cresta<br>vs<br>(2)ぜきーず</td>
        <td>本部</td>
        <td>(3)えもん監修<br>vs<br>(4)Air action</td>
        <td>本部</td>
        <td>(5)関西学院大学<br>vs<br>(6)KFC</td>
        <td>本部</td>
      </tr>
      <tr>
        <td>2</td>
        <td>11:35-</td>
        <td>(7)猿の惑星<br>vs<br>(8)汎愛野球部</td>
        <td>負け審</td>
        <td>(9)B.D.E<br>vs<br>(10)Narukami FC</td>
        <td>負け審</td>
        <td>(11)ちゃりこ<br>vs<br>(12)チントンシャン</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>3</td>
        <td>11:45-</td>
        <td>(13)ENTER<br>vs<br>(14)FC IICHIKO</td>
        <td>負け審</td>
        <td>(15)カモカレン<br>vs<br>(16)FC Admy</td>
        <td>負け審</td>
        <td>(17)fc.tweede<br>vs<br>(18)大阪4部</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>4</td>
        <td>11:55-</td>
        <td>(19)CUERVO®︎<br>vs<br>(20)FC雅</td>
        <td>負け審</td>
        <td>(21)FC.NERD<br>vs<br>(22)県西</td>
        <td>負け審</td>
        <td>(23)チロル<br>vs<br>(24)R25</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>5</td>
        <td>12:05-</td>
        <td>(25)fc.tweede2<br>vs<br>(26)Ok vally</td>
        <td>負け審</td>
        <td>(27)AMISTA<br>vs<br>(28)Youtuber</td>
        <td>負け審</td>
        <td>(29)KSはーてゅ<br>vs<br>(30)FC IICIKO B</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>6</td>
        <td>12:15-</td>
        <td>(31)魚見ファミリー<br>vs<br>(32)幻影旅団</td>
        <td>負け審</td>
        <td>(1)FC.Cresta<br>vs<br>(3)えもん監修</td>
        <td>負け審</td>
        <td>(2)ぜきーず<br>vs<br>(4)Air action</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>7</td>
        <td>12:25-</td>
        <td>(5)関西学院大学<br>vs<br>(7)猿の惑星</td>
        <td>負け審</td>
        <td>(6)KFC<br>vs<br>(8)汎愛野球部</td>
        <td>負け審</td>
        <td>(9)B.D.E<br>vs<br>(11)ちゃりこ</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>8</td>
        <td>12:35-</td>
        <td>(10)Narukami FC<br>vs<br>(12)チントンシャン</td>
        <td>負け審</td>
        <td>(13)ENTER<br>vs<br>(15)カモカレン</td>
        <td>負け審</td>
        <td>(14)FC IICHIKO<br>vs<br>(16)FC Admy</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>9</td>
        <td>12:45-</td>
        <td>(17)fc.tweede<br>vs<br>(19)CUERVO®︎</td>
        <td>負け審</td>
        <td>(18)大阪4部<br>vs<br>(20)FC雅</td>
        <td>負け審</td>
        <td>(21)FC.NERD<br>vs<br>(23)チロル</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>10</td>
        <td>12:55-</td>
        <td>(22)県西<br>vs<br>(24)R25</td>
        <td>負け審</td>
        <td>(25)fc.tweede2<br>vs<br>(27)AMISTA</td>
        <td>負け審</td>
        <td>(26)Ok Vally<br>vs<br>(28)Youtuber</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>11</td>
        <td>13:05-</td>
        <td>(29)KSはーてゅ<br>vs<br>(31)魚見ファミリー</td>
        <td>負け審</td>
        <td>(30)FC IICHIKO B<br>vs<br>(32)幻影旅団</td>
        <td>負け審</td>
        <td>(1)FC.Cresta<br>vs<br>(4)Air action</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>12</td>
        <td>13:15-</td>
        <td>(2)ぜきーず<br>vs<br>(3)えもん監修</td>
        <td>負け審</td>
        <td>(5)関西学院大学<br>vs<br>(8)汎愛野球部</td>
        <td>負け審</td>
        <td>(6)KFC<br>vs<br>(7)猿の惑星</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>13</td>
        <td>13:25-</td>
        <td>(9)B.D.E<br>vs<br>(12)チントンシャン</td>
        <td>負け審</td>
        <td>(10)Narukami FC<br>vs<br>(11)ちゃりこ</td>
        <td>負け審</td>
        <td>(13)ENTER<br>vs<br>(16)FC Admy</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>14</td>
        <td>13:35-</td>
        <td>(14)FC IICHIKO<br>vs<br>(15)カモカレン</td>
        <td>負け審</td>
        <td>(17)fc.tweede<br>vs<br>(20)FC雅</td>
        <td>負け審</td>
        <td>(18)大阪4部<br>vs<br>(19)CUERVO®︎</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>15</td>
        <td>13:45-</td>
        <td>(21)FC.NERD<br>vs<br>(24)R25</td>
        <td>負け審</td>
        <td>(22)県西<br>vs<br>(23)チロル</td>
        <td>負け審</td>
        <td>(25)fc.tweede2<br>vs<br>(28)Youtuber</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td>16</td>
        <td>13:55-</td>
        <td>(26)Ok Vally<br>vs<br>(27)AMISTA</td>
        <td>負け審</td>
        <td>(29)KSはーてゅ<br>vs<br>(32)幻影旅団</td>
        <td>負け審</td>
        <td>(30)FC IICHIKO B<br>vs<br>(31)魚見ファミリー</td>
        <td>負け審</td>
      </tr>
      <tr>
        <td></td>
        <td>14:05-14:30</td>
        <td>昼休み企画</td>
        <td>/</td>
        <td>空き</td>
        <td>/</td>
        <td>空き</td>
        <td>/</td>
      </tr>
      <tr>
        <td>17</td>
        <td>14:35-</td>
        <td>あ</td>
        <td>本部</td>
        <td>い</td>
        <td>本部</td>
        <td>う</td>
        <td>本部</td>
      </tr>
      <tr>
        <td>18</td>
        <td>14:45-</td>
        <td>え</td>
        <td>あ負け</td>
        <td>お</td>
        <td>い負け</td>
        <td>か</td>
        <td>う負け</td>
      </tr>
      <tr>
        <td>19</td>
        <td>14:55-</td>
        <td>き</td>
        <td>え負け</td>
        <td>く</td>
        <td>お負け</td>
        <td>た</td>
        <td>か負け</td>
      </tr>
      <tr>
        <td>20</td>
        <td>15:05-</td>
        <td>ち</td>
        <td>き負け</td>
        <td>つ</td>
        <td>く負け</td>
        <td>て</td>
        <td>た負け</td>
      </tr>
      <tr>
        <td>21</td>
        <td>15:15-</td>
        <td>と</td>
        <td>ち負け</td>
        <td>な</td>
        <td>つ負け</td>
        <td>に</td>
        <td>て負け</td>
      </tr>
      <tr>
        <td>22</td>
        <td>15:25-</td>
        <td>ぬ</td>
        <td>と負け</td>
        <td>け</td>
        <td>な負け</td>
        <td>こ</td>
        <td>に負け</td>
      </tr>
      <tr>
        <td>23</td>
        <td>15:35-</td>
        <td>さ</td>
        <td>ぬ負け</td>
        <td>し</td>
        <td>け負け</td>
        <td>ね</td>
        <td>こ負け</td>
      </tr>
      <tr>
        <td>24</td>
        <td>15:45-</td>
        <td>の</td>
        <td>さ負け</td>
        <td>は</td>
        <td>し負け</td>
        <td>ひ</td>
        <td>ね負け</td>
      </tr>
      <tr>
        <td>25</td>
        <td>15:55-</td>
        <td>す</td>
        <td>の負け</td>
        <td>せ</td>
        <td>は負け</td>
        <td>空き</td>
        <td>/</td>
      </tr>
      <tr>
        <td>26</td>
        <td>16:05-</td>
        <td>ふ</td>
        <td>す負け</td>
        <td>へ</td>
        <td>せ負け</td>
        <td>空き</td>
        <td>/</td>
      </tr>
      <tr>
        <td>27</td>
        <td>16:15-</td>
        <td>下位決勝</td>
        <td>本部</td>
        <td>空き</td>
        <td>/</td>
        <td>空き</td>
        <td>/</td>
      </tr>
      <tr>
        <td>28</td>
        <td>16:25-</td>
        <td>3位決定戦</td>
        <td>本部</td>
        <td>空き</td>
        <td>/</td>
        <td>空き</td>
        <td>/</td>
      </tr>
      <tr>
        <td>29</td>
        <td>16:35-</td>
        <td>決勝</td>
        <td>本部</td>
        <td>空き</td>
        <td>/</td>
        <td>空き</td>
        <td>/</td>
      </tr>
    </tbody>
</table>
