<h3>試合結果</h3>
<table class="uk-table uk-table-small uk-table-divider">
  <tbody>
    <tr>
      <td><%= @result.home_team_id %></td>
      <td><%= @result.home_team_score %></td>
      <td><%= @result.away_team_score %></td>
      <td><%= @result.away_team_id %></td>
    </tr>
  </tbody>
</table>
